<div class="row">

    <div class="col-md-12">
        {{ form_open({ method: 'get' })}}
            <div class="search-box">
                <div class="input-group">
                  <input type="text" name="search" class="form-control" placeholder="Search topics" value="{{ input('search')|e }}">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
                  </span>
                </div>
            </div>
        {{ form_close() }}
    </div>

</div>
